@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #CECECE, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#logo {
  font-size: 8rem;
  color: #F45454;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: flutuation 2s ease-in-out infinite alternate;
}

#temp-container {
  width: 25rem;
  border-radius: 30px;
  box-shadow: 0.4rem 0.4rem 1.5rem #c9c9c9, -0.4rem -0.4rem 1.5rem white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
  gap: 2rem;
}

.search {
  height: 5rem;
  width: 90%;
  justify-content: space-evenly;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

.search button {
  min-width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background: transparent;
  font-size: 1.5rem;
  color: grey;
  box-shadow: 0.2rem 0.2rem 0.8rem #c9c9c9, -0.2rem -0.2rem 0.8rem white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.search button:hover {
  cursor: pointer;
  color: #f45454;
}

.search button:active {
  box-shadow: inset 0.2rem 0.2rem 0.8rem #CECECE, inset -0.2rem -0.2rem 0.8rem white;
  color: #f45454;
}

.search input {
  height: 3rem;
  width: 90%;
  min-width: 12rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: transparent;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.8rem #c9c9c9, -0.2rem -0.2rem 0.8rem white;
  padding-left: 1rem;
  color: #f45454;
  border: none;
}

::-moz-placeholder {
  color: grey;
}

::placeholder {
  color: grey;
}

.search input:focus {
  box-shadow: inset 0.2rem 0.2rem 0.8rem #CECECE, inset -0.2rem -0.2rem 0.8rem white;
  outline: none;
  font-weight: 600;
}

.content {
  width: 90%;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
  display: none;
  animation: reveal 5s;
}

.name-city {
  font-size: 2rem;
  padding-left: 0.5rem;
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  color: #f45454;
  font-weight: 600;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.temp {
  width: 100%;
  height: 5rem;
  display: flex;
  display: flex;
  justify-content: center;
}

.temp span {
  width: 2rem;
  font-size: 2rem;
  color: grey;
}

.temp p {
  width: 15rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #f45454;
  font-size: 3rem;
}

.valor {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.weather {
  width: 100%;
  font-weight: 600;
  color: #f45454;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.weather span:nth-child(1) img {
  width: 3rem;
  height: 3rem;
  animation: flutuation 2s ease-in-out infinite alternate;
}

.weather span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  color: #f45454;
  animation: flutuation 2s ease-in-out infinite alternate;
}

.display-revel {
  animation: reveal 5s;
}

@keyframes flutuation {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  #temp-container {
    box-shadow: none;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  /*
      #logo{
          display: none;
      }
  */
  .valor {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */